* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background: url(img/top\ header.png) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
} 

nav {
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.25rem;
}

.menu a:hover {
    color: #5AFF57;
}

.inputTxt {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.inputTxt img {
    border-radius: 0 3px 3px 0;
}

input {
    padding: 10px;
    border-radius: 3px 0 0 3px;
    width: 100%;
}

.inputTxt img {
    padding: 10px;
    background-color: #5AFF57;
    border: none;
}

.hd_grow {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
    margin: 50px 0 20px;
}

.hd_grow_2 {
    font-size: 1.25rem;
    color: #fff;
    margin: 20px 0;
}

span {
    color: #5AFF57;
}

.body2 {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    justify-content: space-between;
    align-items: center;
}

.dual_input {
    padding-top: 30px;
}

.blur_view {
    color: #fff;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.bv_txt {
    display: flex;
    padding-left: 10px;
    padding-top: 5px;
}

.bv_txt img {
    height: 15px;
    width: 15px;
    right: 5px;
}

.btn {
    background-color: #5AFF57;
    border: none;
    border-radius: 3px;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 10px;
}

/* Section 1 */

table {
    width: 100%;
    margin: 50px 0;
    border-spacing: 20px;
}

table p {
    font-size: 1rem;
}

table h3 {
    font-size: 1.375rem;
    padding-bottom: 10px;
}

table .wcgb_img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

td {
    padding: 20px;
}

.t_btn {
    background-color: #53C351;
    border: none;
    border-radius: 3px;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 20px 60px;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px auto;
}

/* Section 2 */

#fp_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px 20px;
    width: 100%;
}

.fp_1 .img_1 {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.fp_1 .btn {
    background-color: #53C351;
    border: none;
    border-radius: 3px;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 10px;
}

/* Section 3 */
.wcs_1 p {
    text-align: center;
    padding: 20px;
}

/* Section 4 */
.win_up {
    background: url(img/image\ 14.png) no-repeat center center;
    background-size: cover;
    padding: 50px 20px;
    text-align: center;
}

.wu_p {
    color: #fff;
    font-size: 1.875rem;
    padding: 50px 0;
}

.wu_btn {
    background-color: #C3EF3C;
    border: none;
    border-radius: 3px;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px auto 40px;
}

.win_up2 {
    background-color: #1C3A27;
    color: #fff;
    padding: 30px 20px;
}

.bn_btn {
    background-color: #86D72F;
    border: none;
    border-radius: 3px;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px auto;
}

.get_started {
    background-color: #fff; 
    border-radius: 10px; 
    color: #000; 
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.get_started_h3 {
    background-color: #86D72F; 
    border-radius: 10px 10px 0 0; 
    padding: 10px;
}

.get_started p {
    padding: 10px;
}

.s_btn {
    background-color: #86D72F;
    border: none;
    border-radius: 3px;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0 100px;
    width: 100%;
}

.ex_1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

.ex_2 {
    border: solid 2px #1C3A27;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}

.blog_btn {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: bold;
    margin: 40px auto 100px;
}

.company p, .products p, .contact p {
    padding-top: 10px;
}

.footer {
    background-color: #1C3A27;
    color: #fff;
    padding: 20px;
}

.terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.terms p {
    margin: 10px;
}

.wuz_btn {
    background-color: #53C351;
    border: none;
    border-radius: 3px;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 500;
}

/* Responsive Design */
@media (min-width: 768px) {
    .body2, .ex_1 {
        flex-direction: row;
        padding: 30px 110px;
    }

    .blur_view {
        margin-bottom: 30px;
        width: 80%;
    }

    .terms {
        flex-direction: row;
        justify-content: space-between;
    }

    table {
        width: 80%;
        margin: 50px auto;
    }

    .t_btn, .wu_btn, .s_btn, .bn_btn {
        width: auto;
    }

    .blog_btn {
        margin-left: 0;
    }
}
